<div class="container">

         <div class="card my-4">
                <h5 class="card-header">Buscal algun post en especial!</h5>
                <div class="card-body">
                    <form name="searchin" method="POST" action="/posts/busqueda">
                        <div class="input-group">
                            <input type="text" name="title" id="title" class="form-control" placeholder="Buscando...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="submit">Vamos!</button>
                            </span>
                        </div>
                    </form>
            
                </div>


    </div>
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">





            <!-- Blog Post -->



            {{#each entradas}}
            <div class="card mb-4">
                <img class="card-img-top" src=" {{image}} " alt="">
                <div class="card-body">
                    <h2 class="card-title">{{ title }}</h2>
                    <p class="card-text">{{ description }}</p>
                    <a href="/posts/read/{{_id}}  " class="btn btn-primary">Continuar Leyendo &rarr;</a>

                </div>
                <div class="card-footer text-muted">
                    Created on {{date}}
                </div>
            </div>
            {{/each}}


          
            

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->




            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header"> Spotify Widget</h5>
                <div class="card-body">
                    <iframe src="https://open.spotify.com/embed/playlist/75cGxszGuYnwSfvGSzXk8L" width="300"
                        height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->